automation/n8n/workflows/job-to-application.json
{
  "name": "Job Application Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-application",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "id": "webhook-trigger",
      "name": "Receive Job Description",
      "webhookId": "job-application"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=YOUR_GEMINI_API_KEY",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: 'You are a Senior UX Strategist and Technical Copywriter creating content for a job application.\\n\\nCANDIDATE BACKGROUND:\\n- Core Skills: Next.js, TypeScript, Tailwind CSS, Performance optimization\\n- Product & CX: User Story Mapping, A/B Testing, Design Systems, Data-driven decisions\\n- AI & Automation: LLM API integration, n8n workflows, GitHub Actions\\n\\nKEY PROJECTS:\\n- P-01 Pivot Platform: Transformed near-zero user returns to active re-engagement\\n- P-02 Future-Proof Foundation: Saved 6+ months dev time with scalable Nuxt.js architecture\\n- P-03 Ops Autopilot: Eliminated manual job matching with automated recommendations\\n- P-04 Knowledge Transfer Engine: Reduced onboarding from weeks to 20 minutes\\n- P-05 Career Stories Platform: Building with AI tools (Claude/n8n) to accelerate development\\n\\nTARGET APPLICATION:\\nCompany: ' + $json.body.companyName + '\\nRole: ' + $json.body.roleTitle + '\\n\\nJob Description:\\n' + $json.body.jobDescription + '\\n\\nGenerate a compelling 3-sentence introduction paragraph that:\\n1. Opens with a hook showing understanding of the company\\'s specific needs\\n2. Positions the candidate as the solution with relevant experience\\n3. Hints at proven, measurable results\\n\\nTone: Professional, confident, metric-driven, slightly Australian-leaning.\\n\\nReturn ONLY the introduction paragraph, no additional text, headers, or formatting.' }] }], generationConfig: { temperature: 0.7, maxOutputTokens: 500 } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 0],
      "id": "gemini-call",
      "name": "Generate Introduction"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://psf3aj1o.api.sanity.io/v2024-01-01/data/mutate/production",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer YOUR_SANITY_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ mutations: [{ createOrReplace: { _type: 'jobApplication', _id: 'drafts.' + $('Receive Job Description').item.json.body.companyName.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-|-$/g, '') + '-' + $('Receive Job Description').item.json.body.roleTitle.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-|-$/g, ''), targetCompany: $('Receive Job Description').item.json.body.companyName, targetRoleTitle: $('Receive Job Description').item.json.body.roleTitle, customIntroduction: $json.candidates[0].content.parts[0].text, status: 'draft', slug: { _type: 'slug', current: $('Receive Job Description').item.json.body.companyName.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-|-$/g, '') + '-' + $('Receive Job Description').item.json.body.roleTitle.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-|-$/g, '') }, createdAt: new Date().toISOString() } }] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 0],
      "id": "sanity-create",
      "name": "Create Sanity Draft"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Application draft created successfully', sanityId: $json.results[0].id, company: $('Receive Job Description').item.json.body.companyName, role: $('Receive Job Description').item.json.body.roleTitle, studioUrl: 'https://meljonesai.sanity.studio/structure/jobApplication;' + $json.results[0].id } }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 0],
      "id": "respond-success",
      "name": "Return Success"
    }
  ],
  "connections": {
    "Receive Job Description": {
      "main": [
        [{ "node": "Generate Introduction", "type": "main", "index": 0 }]
      ]
    },
    "Generate Introduction": {
      "main": [
        [{ "node": "Create Sanity Draft", "type": "main", "index": 0 }]
      ]
    },
    "Create Sanity Draft": {
      "main": [
        [{ "node": "Return Success", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
